[user]
	name = Paulina A C Udeh
	email = udehpaulina93@gmail.com
[core]
	editor = code --wait
	autocrlf = true
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
